# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribuição / pacotes
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.bak
*.swp
*.swo

# Configurações do Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ambientes Virtuais
env/
venv/
ENV/
env.bak/
venv.bak/

# Arquivos de Banco de Dados
*.sqlite3
*.db

# Configurações Locais
*.env
.env

# Arquivos estáticos gerados
staticfiles/
media/

# Arquivos de cobertura de testes
htmlcov/
.coverage
